# Ignore node_modules to prevent local dependencies from being copied
node_modules

# Ignore .env file as environment variables should be passed securely at runtime
.env

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore logs
npm-debug.log
*.log

# Ignore local development files/directories
.git
.gitignore

